@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    padding: 15px 80px 5px;
}

.link {
    cursor: pointer;
}

/* Navbar */
nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav .first-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

nav .first-row h2 {
    font-weight: bolder;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

nav .first-row div:nth-child(2) {
    display: flex;
    justify-content: center;
}

nav .first-row div:last-child {
    display: flex;
    align-items: center;
    gap: 18;
    justify-content: end;
}

nav .first-row div:last-child div {
    display: flex;
    gap: 5;
}

nav .first-row div:last-child div span {
    font-weight: 600;
    font-size: 12px;
}

nav .second-row {
    margin-top: 25;
}

nav .second-row ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30;
}

nav .second-row ul li {
    font-weight: 700;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    padding-top: 50px;
    font-family: "Inter", sans-serif;
}

.footer .first-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-bottom: 20px;
}

.subscribe-box p {
    font-weight: 700;
    margin: 0;
}

.subscribe-box span {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
}


.subscribe-box div {
    margin-top: 48px;
    display: flex;
    gap: 10;
}

.subscribe-box div input {
    padding: 8px 15px;
    border: none;
    max-width: 300px;
    width: 100%;
}

.subscribe-box div input::placeholder {
    font-size: 14px;
    color: #BFC8CD
}

.subscribe-box div button {
    background-color: black;
    color: #4f4d4d;
    border: 1px solid #4f4d4d;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

.contact-box div {
    display: flex;
    flex-direction: column;
}

.contact-box div p {
    margin: 0;
    font-weight: 700;
}

.contact-box div span {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
}

.contact-box div:last-child div {
    display: flex;
    flex-direction: row;
    gap: 5;
    margin: 15px 0px;
    font-weight: 600;
}

.contact-box div:last-child span {
    font-size: 11px;
}

.footer .second-row {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
    border-top: 1px solid white;
    padding-top: 30px;
}

.footer .second-row p {
    font-weight: 700;
}

.footer .second-row ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10;
}

.footer .second-row li {
    font-size: 13px;
    cursor: pointer;
}

.follow-box .socials {
    display: flex;
    align-items: center;
    gap: 10;
    cursor: pointer;
}

.follow-box div:last-child p {
    font-size: 20px;
    margin-top: 40px;
}

.follow-box div:last-child div {
    display: flex;
    gap: 7;
}

.footer .third-row p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    padding: 15px 0px;
}